################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/7°Bimestre/Simpson1/env
/7°Bimestre/Figuras
/7°Bimestre/DanielMarquesdaSilva.docx
/7°Bimestre/DanielMarquesdaSilva.pdf
/7°Bimestre/DemaisExerciciios.rar
/7°Bimestre/Projeto-CódigoT7.txt
/7°Bimestre/notaname.acp
/Programas
/8°Bimestre/Anotações.xlsx
/8°Bimestre/Lista_8.docx
/8°Bimestre/31-08.xlsx

