################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/7°Bimestre/Simpson1/env
/7°Bimestre/Figuras
